useDynLib(misskappa, .registration = TRUE)

importFrom(Rcpp, sourceCpp)

export(joint_vcov)
export(kappa)
export(kappa_continuous)
export(kappa_counts)
export(kappa_gwise)
export(kappa_quadratic)
export(kappa_quadratic_counts)
export(sim)

S3method(print, misskappa_estimate)
S3method(coef, misskappa_estimate)
S3method(vcov, misskappa_estimate)
S3method(confint, misskappa_estimate)
S3method(as.data.frame, misskappa_estimate)
S3method(influence, misskappa_estimate)
